.container {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 1em;
  margin: 5em 0;
}
.header {
  grid-column: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1em;
  margin-bottom: 1em;
}
.header a {
  
}