.container {
	display: grid;
	grid-template-columns: 1fr 10fr 1fr;
	grid-template-rows: auto;

	padding: 2em 0;
}

.packageFooter {
	grid-column: 1/-1;
	/* grid-row: 3; */
	display: grid;
	grid-template-columns: 1fr 10fr 1fr;
	grid-template-rows: auto;
}
.imgContainer {
	grid-column: 2;
	position: relative;
	z-index: -1;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 25em;
	gap: 1em;
	overflow: hidden;
}
.imgContainer img {
	object-fit: cover;
	object-position: center;
	height: 100%;
	width: 100%;
	border-radius: 0.5em;
}
.mainDisplay {
	grid-column: 1;
	grid-row: 1/-1;
	display: flex;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
}
.mainDisplay img {
	grid-column: 1;
	grid-row: 1;
}

.gallery {
	display: none;
}

.containerContent {
	grid-column: 2;
	padding: 4em 0;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1em;

	flex-wrap: wrap;
	padding-bottom: 1em;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.header h1 {
	font-size: 1.5rem;
}
.header h1 span:last-child {
	color: rgba(0, 0, 0, 0.5);
}
.isFavorite {
	font-size: 1.2em;
	color: red;
}

.overview {
	padding-top: 1em;
}
.overview h1 {
	font-size: 1.4em;
	margin-bottom: 1em;
	text-transform: capitalize;
}

.description {
	max-width: 800px;
	width: 100%;
	margin-bottom: 1.3em;
}

.additionalInfo {
	display: flex;
	gap: 1em;
	flex-wrap: wrap;
	align-items: center;
}
.additionalInfo p {
	display: flex;
	gap: 0.5em;
	flex-wrap: wrap;
	align-items: center;

	background-color: var(--accent);
	padding: 0.4em 1em;
	border-radius: 5em;
}
.moreDetails {
	display: flex;
	margin-top: 2em;
}
.perks {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	gap: 1em;
	flex-wrap: wrap;
	max-width: 600px;
	width: 100%;
}
.perks h1 {
	font-size: 1rem;
	margin-bottom: 0.8em;
}
.perksList {
	display: flex;
	flex-direction: column;
	gap: 1em;
}
.perksList li {
	display: flex;
	align-items: center;
	gap: 0.5em;
	text-transform: capitalize;
	/*  */
}
.perksList svg {
	color: var(--accent);
	color: var(--background);
}

@media (min-width: 768px) {
	.imgContainer {
		height: 33em;
		grid-template-columns: 3fr 1fr 1fr;
		grid-template-rows: repeat(2, 15em);
		gap: 1em;
	}

	.gallery {
		display: block;
	}

	.gallery:nth-of-type(1) {
		grid-column: span 2;
		grid-row: 1;
	}
	.gallery:nth-of-type(2) {
		grid-column: span 2;
		grid-row: 2;
	}
}
