.backBtn {
  grid-column: 2;
  background-color: var(--background);
  color: #fff;
  justify-self: start;
  margin-bottom: 2em;
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 1em 2em;
  border-radius: 5em;
  border: 1px solid transparent;
}
.backBtn:hover {
  color: var(--background);
  border-color: var(--background);
  background-color: transparent;
}