
.cta {
  background-color: var(--accent);
  background-color: #FFC93C;
  padding: .7em 1.2em;
  display: inline-block;
  border-radius: 5em;
  /* color:; */
  border: 1px solid transparent;
  color: #000;
}
.cta:hover {
  background-color: transparent;
  border: 1px solid #FFC93C;
}