.container {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-rows: auto;
  padding: 5em 0;
}

.header {
	grid-column: 2;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
	gap: 1em;
	padding: 1em 0;
	color: var(--background);

  position: relative; 
}
.header h1 {
	font-size: 1.5rem;
}

.packageList {
  grid-column: 2;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-template-rows: auto;
  align-items: start;
  justify-content: center;

  gap: 1em;
  padding: 2em 0;
}
.card {
  border-radius: .3em;
  overflow: hidden;
  transition: all .3s ease;

}
:global(.card_size) {
  width: 300px;
}
.card:hover {
  transform: translateY(-3px) scale(1.02);
}
.card__header {
  position: relative;
  height: 200px;
  overflow: hidden;
  display: flex;
}
.card__header img{
  width: 100%;
}
.card__header p {
  position: absolute;
  top: .5em;
  right: 1em;
  color: var(--background);
  padding: .3em .8em;
  border-radius: 1em;
  background-color: var(--text);
  display: inline-flex;
  align-items: center;
}
.card__body {
  padding: 1em;
  height: 175px; 
  background-color: var(--background-glass);

}
.card__body h1 {
  font-size: 1rem;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
  color: var(--primary);
}
.card__body ul {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  gap: .6em;
}
.card__body li {
  display: flex;
  align-items: flex-start;
  line-height: 1;
  gap: .5em;
  text-transform: capitalize;

}
.card__body li svg{
  display: inline-block;
  font-size: 1.1rem;
  color: var(--primary);
}

/* .filterOptions {
  background-color: var(--primary);
  width: inherit !important;
  display: flex;
  flex-direction: column;
  margin-top: .5em;
  border-radius: .5em;
}
.filterOptions button {
  width: initial;
  padding: 1em;
  color: #fff;
  transition: all .2s linear;
}
.filterOptions button:hover {
  width: initial;
  padding: 1em;
  color: #fff;
  font-weight: 700;

} */