.brand {
  font-family: var(--ff-text);
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--background);
  /* text-shadow: 1px 1px 0px #FFB650, 
  2px 2px 0px #FFD662, 
  3px 3px 0px  #FF80BF,
  4px 4px 0px #EF5097, 
  5px 5px 0px #6868AC, 
  6px 6px 0px #90B1E0; */

  /* transform: skew(5deg, -1deg); */
}
