.nav {
	display: grid;
	grid-template-columns: 1fr 10fr 1fr;
	grid-template-rows: auto;
	position: relative;
	background-color: var(--background-glass);
  backdrop-filter: blur(10px);
}
.nav:global(.fixedNav) {
	position: fixed;
	top: 0;
	width: 100%;
  z-index: 1000;
}
.navContents {
	grid-column: 2;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1em 0;
	color: #fff;
}

.menu {
	position: absolute;
	top: 5em;

	padding: 1em;
	border-radius: 0.4em;
	z-index: 1000;
  
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1em;
  
	background-color: var(--background);
  color: var(--secondary);
}
.menu:global(.closeMenu) {
	right: 200%;
}

.nav li {
  width: 100%;
}
.navlink {
  text-align: center;
  display: block;
  padding: .3em 1em;
  border-radius: .2em;
}
.navlink:global(.active) {
  background-color: var(--secondary);
  color: var(--text);
  width: 100%;
}
.navlink:hover {
  background-color: var(--secondary);
  color: var(--text);
}

@media (min-width: 820px) {

  .nav {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-rows: auto;
    position: relative;
  }
	.navContents {
		padding: .8em 0;

	}
	.menu {
		flex-direction: row;
		position: static;
		padding: .45em .5em;
    gap: .5em;
    border-radius: 50em;
		background-color: transparent;
		border: 1px solid rgba(255, 255, 255);
	}
  .nav li {
    width: initial;
  }
	.navlink {
		border-radius: 2em;
	}
}